In [14]:
#read data from local
import pandas as pd
import pymongo

In [15]:
df = pd.read_csv("data.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

### Connect to mongodb

In [16]:
import yaml
from urllib.parse import quote_plus
#quote plus is used to encode special characters in username and password, 
#if username and password contains special characters they are escaped so that there is no contradiction
#with ? and @ used in mongodd connection string

config = yaml.safe_load(open(r"../project_cred.yaml"))

user = quote_plus(config["mongo"]["user"])
password = quote_plus(config["mongo"]["password"])
host = config["mongo"]["host"]
cluster = config["mongo"]["cluster"]

CONNECTION_URL = f"mongodb+srv://{user}:{password}@{host}/?appName={cluster}"
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"

In [17]:
data = df.to_dict(orient="records")

In [18]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [19]:
#upload data to mongodb
# rec = collection.insert_many(data)

In [20]:
collection.find_one()

{'_id': ObjectId('69241ebc69288e591f42b2df'),
 'id': 1,
 'Gender': 'Male',
 'Age': 44,
 'Driving_License': 1,
 'Region_Code': 28.0,
 'Previously_Insured': 0,
 'Vehicle_Age': '> 2 Years',
 'Vehicle_Damage': 'Yes',
 'Annual_Premium': 40454.0,
 'Policy_Sales_Channel': 26.0,
 'Vintage': 217,
 'Response': 1}